openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries Assets Search API
  description: REST API for accessing and managing Creative Cloud Libraries. Libraries provide a shared repository for colors, character styles, paragraph styles, graphics, and other creative assets that synchronize across Photoshop, Illustrator, InDesign, and other Creative Cloud applications. Supports CRUD operations on libraries and library elements, and includes an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io/api/v1
  description: Creative Cloud Libraries API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Search
  description: Asset search and discovery operations.
paths:
  /Rest/Media/1/Search/Files:
    get:
      operationId: searchFiles
      summary: Adobe Creative Cloud Search Stock Assets
      description: Searches the Adobe Stock catalog for assets matching the query. Supports keyword search, filtering by asset type, orientation, color, category, and more. Returns metadata including thumbnails, titles, and licensing information.
      tags:
      - Search
      parameters:
      - name: search_parameters[words]
        in: query
        description: Search keywords.
        schema:
          type: string
        example: example_value
      - name: search_parameters[limit]
        in: query
        description: Maximum number of results (1-64).
        schema:
          type: integer
          minimum: 1
          maximum: 64
          default: 32
        example: 42
      - name: search_parameters[offset]
        in: query
        description: Starting position for pagination.
        schema:
          type: integer
          default: 0
        example: 42
      - name: search_parameters[filters][content_type:photo]
        in: query
        description: Include photo results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][content_type:illustration]
        in: query
        description: Include illustration results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][content_type:vector]
        in: query
        description: Include vector results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][content_type:video]
        in: query
        description: Include video results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][content_type:template]
        in: query
        description: Include template results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][content_type:3d]
        in: query
        description: Include 3D content results.
        schema:
          type: integer
          enum:
          - 0
          - 1
        example: 0
      - name: search_parameters[filters][orientation]
        in: query
        description: Filter by image orientation.
        schema:
          type: string
          enum:
          - horizontal
          - vertical
          - square
          - all
        example: horizontal
      - name: search_parameters[order]
        in: query
        description: Sort order for results.
        schema:
          type: string
          enum:
          - relevance
          - creation
          - featured
          - nb_downloads
          - undiscovered
        example: relevance
      - name: result_columns[]
        in: query
        description: Fields to include in results. Can be specified multiple times.
        schema:
          type: array
          items:
            type: string
            enum:
            - id
            - title
            - creator_name
            - creator_id
            - thumbnail_url
            - thumbnail_html_tag
            - thumbnail_width
            - thumbnail_height
            - width
            - height
            - nb_results
            - content_type
            - category
            - keywords
            - is_licensed
            - comp_url
            - premium_level_id
      responses:
        '200':
          description: Search results returned successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
        '400':
          description: Invalid search parameters.
        '401':
          description: Authentication required.
        '429':
          description: Rate limit exceeded.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        nb_results:
          type: integer
          description: Total number of matching results.
          example: 42
        files:
          type: array
          items:
            $ref: '#/components/schemas/StockAsset'
    StockAsset:
      type: object
      properties:
        id:
          type: integer
          description: Unique asset identifier.
          example: 42
        title:
          type: string
          example: example_value
        creator_name:
          type: string
          example: Example Asset
        creator_id:
          type: integer
          example: 42
        content_type:
          type: string
          description: Asset type (photo, illustration, vector, video, template, 3d).
          example: image
        width:
          type: integer
          example: 42
        height:
          type: integer
          example: 42
        thumbnail_url:
          type: string
          format: uri
          example: https://example.adobe.com/asset
        thumbnail_width:
          type: integer
          example: 42
        thumbnail_height:
          type: integer
          example: 42
        comp_url:
          type: string
          format: uri
          description: URL to the watermarked comp/preview.
          example: https://example.adobe.com/asset
        category:
          type: object
          properties:
            id:
              type: integer
            name:
              type: string
        keywords:
          type: array
          items:
            type: object
            properties:
              name:
                type: string
        is_licensed:
          type: string
          enum:
          - Standard
          - Extended
          - Video_HD
          - Video_4K
          - ''
          description: License type if already licensed, empty string if not.
          example: Standard
        premium_level_id:
          type: integer
          description: 0 = Core, 1 = Free, 2 = Premium Collection 1, 3 = Premium Collection 2.
          example: 42
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
