openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries Assets API
  description: REST API for accessing and managing Creative Cloud Libraries. Libraries provide a shared repository for colors, character styles, paragraph styles, graphics, and other creative assets that synchronize across Photoshop, Illustrator, InDesign, and other Creative Cloud applications. Supports CRUD operations on libraries and library elements, and includes an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io/api/v1
  description: Creative Cloud Libraries API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Assets
  description: Upload and manage document assets.
paths:
  /assets:
    post:
      operationId: createAsset
      summary: Adobe Creative Cloud Upload Asset
      description: Creates an upload URI for uploading a document asset. Returns a presigned URL for uploading the file content and an asset ID for referencing in subsequent operations.
      tags:
      - Assets
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - mediaType
              properties:
                mediaType:
                  type: string
                  description: MIME type of the document.
                  enum:
                  - application/pdf
                  - application/vnd.openxmlformats-officedocument.wordprocessingml.document
                  - application/vnd.openxmlformats-officedocument.presentationml.presentation
                  - application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
                  - image/jpeg
                  - image/png
                  - image/tiff
                  - image/bmp
                  - text/html
      responses:
        '200':
          description: Upload URI created successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  assetID:
                    type: string
                    description: Asset identifier for use in operations.
                  uploadUri:
                    type: string
                    format: uri
                    description: Presigned URL for uploading file content via PUT.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /assets/{assetID}:
    get:
      operationId: getAsset
      summary: Adobe Creative Cloud Get Asset Download URI
      description: Returns a presigned download URL for a processed asset.
      tags:
      - Assets
      parameters:
      - name: assetID
        in: path
        required: true
        schema:
          type: string
        example: abc123def456
      responses:
        '200':
          description: Download URI returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  downloadUri:
                    type: string
                    format: uri
        '404':
          description: Asset not found or expired.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    delete:
      operationId: deleteAsset
      summary: Adobe Creative Cloud Delete Asset
      description: Deletes a document asset from temporary storage.
      tags:
      - Assets
      parameters:
      - name: assetID
        in: path
        required: true
        schema:
          type: string
        example: abc123def456
      responses:
        '204':
          description: Asset deleted.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
