openapi: 3.2.0
info:
  title: Adobe Creative Cloud Adobe Firefly Utilities API
  description: The Adobe Firefly API provides programmatic access to generative AI capabilities for commercial-safe image creation and manipulation. Supports text-to-image generation, generative fill (inpainting), image expansion, and style reference matching. All generated content includes Content Credentials for provenance tracking. Part of Adobe Firefly Services, authenticated via OAuth Server-to-Server credentials from the Adobe Developer Console.
  version: v3
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://firefly-api.adobe.io
  description: Adobe Firefly API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Utilities
  description: Upload and utility operations.
paths:
  /v2/storage/image:
    post:
      operationId: uploadImage
      summary: Adobe Creative Cloud Upload Reference Image
      description: Uploads an image to temporary Firefly storage for use as a reference, mask, or source in other API calls. Uploaded images are available for a limited time. Returns an upload ID to reference the image in subsequent requests.
      tags:
      - Utilities
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Image uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Upload ID for referencing in other API calls.
        '413':
          description: Image exceeds maximum file size.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token obtained via client_credentials grant from https://ims-na1.adobelogin.com/ims/token/v3.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID from the Adobe Developer Console project.
