openapi: 3.2.0
info:
  title: Adobe Creative Cloud Adobe PDF Services Extraction API
  description: Cloud-based REST API for creating, converting, and manipulating PDF documents. Part of Adobe Acrobat Services, the API supports PDF creation from HTML and Office formats, conversion to/from multiple formats, OCR, compression, protection, content extraction with AI, and accessibility auto-tagging. Includes a free tier of 500 document transactions per month.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://pdf-services-ue1.adobe.io
  description: Adobe PDF Services API production server (US East).
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Extraction
  description: Extract content from PDF documents.
paths:
  /operation/extractpdf:
    post:
      operationId: extractPdf
      summary: Adobe Creative Cloud Extract PDF Content
      description: Extracts text, tables, and images from a PDF using AI-powered content recognition. Returns structured JSON with content elements preserving reading order and layout relationships.
      tags:
      - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                elementsToExtract:
                  type: array
                  items:
                    type: string
                    enum:
                    - text
                    - tables
                  description: Content types to extract.
                tableOutputFormat:
                  type: string
                  enum:
                  - csv
                  - xlsx
                  description: Format for extracted table data.
                getCharBounds:
                  type: boolean
                  default: false
                  description: Include character-level bounding boxes.
                renditionsToExtract:
                  type: array
                  items:
                    type: string
                    enum:
                    - tables
                    - figures
                  description: Rendition types to extract as images.
      responses:
        '201':
          description: Extraction job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID from Adobe Developer Console.
