openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries Assets Image Editing API
  description: REST API for accessing and managing Creative Cloud Libraries. Libraries provide a shared repository for colors, character styles, paragraph styles, graphics, and other creative assets that synchronize across Photoshop, Illustrator, InDesign, and other Creative Cloud applications. Supports CRUD operations on libraries and library elements, and includes an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io/api/v1
  description: Creative Cloud Libraries API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Image Editing
  description: Generative fill, expand, and editing operations.
paths:
  /v3/images/generate-object-composite:
    post:
      operationId: generateObjectComposite
      summary: Adobe Creative Cloud Generate Object Composite
      description: Generates a composite image by placing an object from a source image into a scene, blending lighting, perspective, and style to create a realistic result.
      tags:
      - Image Editing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ObjectCompositeRequest'
      responses:
        '200':
          description: Composite image generated successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/images/fill:
    post:
      operationId: fillImage
      summary: Adobe Creative Cloud Generative Fill
      description: Fills masked regions of an image with AI-generated content guided by a text prompt. The mask defines which areas to regenerate while preserving the rest of the image. Useful for removing objects, adding elements, or replacing backgrounds.
      tags:
      - Image Editing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FillImageRequest'
      responses:
        '200':
          description: Image filled successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /v3/images/expand:
    post:
      operationId: expandImage
      summary: Adobe Creative Cloud Generative Expand
      description: Expands an image beyond its original boundaries using AI to generate new content that seamlessly extends the scene. Specify the target dimensions to control the expansion direction and amount.
      tags:
      - Image Editing
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExpandImageRequest'
      responses:
        '200':
          description: Image expanded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateImagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    ExpandImageRequest:
      type: object
      required:
      - image
      - size
      properties:
        image:
          $ref: '#/components/schemas/ImageReference'
        size:
          type: object
          required:
          - width
          - height
          properties:
            width:
              type: integer
              description: Target width in pixels.
            height:
              type: integer
              description: Target height in pixels.
        prompt:
          type: string
          description: Text describing the content to generate in expanded areas.
          example: A beautiful sunset over the ocean
        placement:
          type: object
          description: How to position the original image within the expanded canvas.
          properties:
            alignment:
              type: object
              properties:
                horizontal:
                  type: string
                  enum:
                  - left
                  - center
                  - right
                vertical:
                  type: string
                  enum:
                  - top
                  - center
                  - bottom
    GenerateImagesResponse:
      type: object
      properties:
        size:
          type: object
          properties:
            width:
              type: integer
            height:
              type: integer
        outputs:
          type: array
          items:
            type: object
            properties:
              seed:
                type: integer
                description: Random seed used for this variation.
              image:
                type: object
                properties:
                  url:
                    type: string
                    format: uri
                    description: URL to the generated image. Expires after 24 hours.
        contentClass:
          type: string
          example: example_value
    FillImageRequest:
      type: object
      required:
      - image
      - mask
      properties:
        image:
          $ref: '#/components/schemas/ImageReference'
        mask:
          $ref: '#/components/schemas/ImageReference'
        prompt:
          type: string
          description: Text describing what to generate in the masked region.
          example: A beautiful sunset over the ocean
        numVariations:
          type: integer
          minimum: 1
          maximum: 4
          default: 1
          example: 42
    ImageReference:
      type: object
      description: Reference to an image by upload ID or presigned URL.
      properties:
        source:
          type: object
          properties:
            uploadId:
              type: string
              description: Upload ID from the image upload endpoint.
            url:
              type: string
              format: uri
              description: Presigned URL to the image.
    ErrorResponse:
      type: object
      properties:
        error_code:
          type: string
          description: Machine-readable error code.
          example: example_value
        message:
          type: string
          description: Human-readable error description.
          example: example_value
    ObjectCompositeRequest:
      type: object
      required:
      - image
      - placement
      properties:
        image:
          $ref: '#/components/schemas/ImageReference'
        placement:
          type: object
          description: Placement configuration for the object.
          properties:
            inpaint:
              type: boolean
              description: Whether to harmonize the placed object.
        prompt:
          type: string
          description: Optional text to guide the composition.
          example: A beautiful sunset over the ocean
        numVariations:
          type: integer
          minimum: 1
          maximum: 4
          example: 42
  responses:
    BadRequest:
      description: Invalid request parameters.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
