openapi: 3.2.0
info:
  title: Adobe Creative Cloud Adobe PDF Services PDF Operations API
  description: Cloud-based REST API for creating, converting, and manipulating PDF documents. Part of Adobe Acrobat Services, the API supports PDF creation from HTML and Office formats, conversion to/from multiple formats, OCR, compression, protection, content extraction with AI, and accessibility auto-tagging. Includes a free tier of 500 document transactions per month.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://pdf-services-ue1.adobe.io
  description: Adobe PDF Services API production server (US East).
security:
- bearerAuth: []
- apiKey: []
tags:
- name: PDF Operations
  description: Create, convert, and manipulate PDF documents.
paths:
  /operation/createpdf:
    post:
      operationId: createPdf
      summary: Adobe Creative Cloud Create PDF
      description: Creates a PDF from supported file formats including Word, Excel, PowerPoint, and image files.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                  description: ID of the uploaded source document.
                documentLanguage:
                  type: string
                  default: en-US
                  description: Language code for OCR processing.
      responses:
        '201':
          description: Job created. Poll the Location header URL for status.
          headers:
            Location:
              schema:
                type: string
                format: uri
              description: URL to poll for job status.
            x-request-id:
              schema:
                type: string
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /operation/exportpdf:
    post:
      operationId: exportPdf
      summary: Adobe Creative Cloud Export PDF
      description: Converts a PDF to another format such as Word, Excel, PowerPoint, or image formats.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              - targetFormat
              properties:
                assetID:
                  type: string
                targetFormat:
                  type: string
                  enum:
                  - docx
                  - doc
                  - pptx
                  - rtf
                  - xlsx
                  - jpeg
                  - png
                  description: Target export format.
      responses:
        '201':
          description: Export job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /operation/compresspdf:
    post:
      operationId: compressPdf
      summary: Adobe Creative Cloud Compress PDF
      description: Reduces the file size of a PDF document while maintaining acceptable quality.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                compressionLevel:
                  type: string
                  enum:
                  - LOW
                  - MEDIUM
                  - HIGH
                  default: MEDIUM
      responses:
        '201':
          description: Compression job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /operation/ocr:
    post:
      operationId: ocrPdf
      summary: Adobe Creative Cloud OCR PDF
      description: Applies optical character recognition to a scanned PDF, making the text searchable and selectable.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                ocrLang:
                  type: string
                  default: en-US
                  description: OCR language code.
                ocrType:
                  type: string
                  enum:
                  - searchable_image
                  - searchable_image_exact
                  default: searchable_image
      responses:
        '201':
          description: OCR job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /operation/protectpdf:
    post:
      operationId: protectPdf
      summary: Adobe Creative Cloud Protect PDF
      description: Applies password protection and permissions to a PDF.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              - passwordProtection
              properties:
                assetID:
                  type: string
                passwordProtection:
                  type: object
                  properties:
                    userPassword:
                      type: string
                      description: Password required to open the document.
                    ownerPassword:
                      type: string
                      description: Password required to change permissions.
                encryptionAlgorithm:
                  type: string
                  enum:
                  - AES_128
                  - AES_256
                  default: AES_256
      responses:
        '201':
          description: Protection job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
  /operation/htmltopdf:
    post:
      operationId: htmlToPdf
      summary: Adobe Creative Cloud HTML to PDF
      description: Creates a PDF from an HTML source file with support for CSS, JavaScript, and custom page layout configuration.
      tags:
      - PDF Operations
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                  description: ID of the uploaded HTML zip asset.
                json:
                  type: string
                  description: JSON data for dynamic HTML content.
                pageLayout:
                  type: object
                  properties:
                    pageWidth:
                      type: number
                    pageHeight:
                      type: number
      responses:
        '201':
          description: HTML to PDF job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID from Adobe Developer Console.
