openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries Assets Extraction API
  description: REST API for accessing and managing Creative Cloud Libraries. Libraries provide a shared repository for colors, character styles, paragraph styles, graphics, and other creative assets that synchronize across Photoshop, Illustrator, InDesign, and other Creative Cloud applications. Supports CRUD operations on libraries and library elements, and includes an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io/api/v1
  description: Creative Cloud Libraries API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Extraction
  description: Extract content from PDF documents.
paths:
  /operation/extractpdf:
    post:
      operationId: extractPdf
      summary: Adobe Creative Cloud Extract PDF Content
      description: Extracts text, tables, and images from a PDF using AI-powered content recognition. Returns structured JSON with content elements preserving reading order and layout relationships.
      tags:
      - Extraction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - assetID
              properties:
                assetID:
                  type: string
                elementsToExtract:
                  type: array
                  items:
                    type: string
                    enum:
                    - text
                    - tables
                  description: Content types to extract.
                tableOutputFormat:
                  type: string
                  enum:
                  - csv
                  - xlsx
                  description: Format for extracted table data.
                getCharBounds:
                  type: boolean
                  default: false
                  description: Include character-level bounding boxes.
                renditionsToExtract:
                  type: array
                  items:
                    type: string
                    enum:
                    - tables
                    - figures
                  description: Rendition types to extract as images.
      responses:
        '201':
          description: Extraction job created.
          headers:
            Location:
              schema:
                type: string
                format: uri
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
