openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries Assets Utilities API
  description: REST API for accessing and managing Creative Cloud Libraries. Libraries provide a shared repository for colors, character styles, paragraph styles, graphics, and other creative assets that synchronize across Photoshop, Illustrator, InDesign, and other Creative Cloud applications. Supports CRUD operations on libraries and library elements, and includes an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://cc-libraries.adobe.io/api/v1
  description: Creative Cloud Libraries API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Utilities
  description: Upload and utility operations.
paths:
  /v2/storage/image:
    post:
      operationId: uploadImage
      summary: Adobe Creative Cloud Upload Reference Image
      description: Uploads an image to temporary Firefly storage for use as a reference, mask, or source in other API calls. Uploaded images are available for a limited time. Returns an upload ID to reference the image in subsequent requests.
      tags:
      - Utilities
      requestBody:
        required: true
        content:
          image/jpeg:
            schema:
              type: string
              format: binary
          image/png:
            schema:
              type: string
              format: binary
          image/webp:
            schema:
              type: string
              format: binary
      responses:
        '200':
          description: Image uploaded successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  images:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: Upload ID for referencing in other API calls.
        '413':
          description: Image exceeds maximum file size.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
