openapi: 3.1.0
info:
  title: Adobe Creative Cloud Creative Cloud Libraries API
  description: >-
    REST API for accessing and managing Creative Cloud Libraries. Libraries
    provide a shared repository for colors, character styles, paragraph
    styles, graphics, and other creative assets that synchronize across
    Photoshop, Illustrator, InDesign, and other Creative Cloud applications.
    Supports CRUD operations on libraries and library elements, and includes
    an Asset Browser SDK for web integration.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
  - url: https://cc-libraries.adobe.io/api/v1
    description: Creative Cloud Libraries API production server.
security:
  - bearerAuth: []
  - apiKey: []
tags:
  - name: Elements
    description: Operations on library elements (assets).
  - name: Libraries
    description: Operations on Creative Cloud Libraries.
paths:
  /libraries:
    get:
      operationId: getLibraries
      summary: Adobe Creative Cloud List libraries
      description: >-
        Returns all Creative Cloud Libraries accessible to the
        authenticated user.
      tags:
        - Libraries
      parameters:
        - name: limit
          in: query
          description: Maximum number of libraries to return.
          schema:
            type: integer
            default: 100
        - name: start
          in: query
          description: Pagination cursor from a previous response.
          schema:
            type: string
      responses:
        '200':
          description: Libraries returned successfully.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  libraries:
                    type: array
                    items:
                      $ref: '#/components/schemas/Library'
        '401':
          description: Authentication required.
    post:
      operationId: createLibrary
      summary: Adobe Creative Cloud Create library
      description: Creates a new Creative Cloud Library.
      tags:
        - Libraries
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - name
              properties:
                name:
                  type: string
                  description: Display name for the library.
      responses:
        '201':
          description: Library created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
  /libraries/{libraryId}:
    get:
      operationId: getLibrary
      summary: Adobe Creative Cloud Get library
      description: Returns details of a specific library.
      tags:
        - Libraries
      parameters:
        - $ref: '#/components/parameters/libraryId'
      responses:
        '200':
          description: Library returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Library'
        '404':
          description: Library not found.
    delete:
      operationId: deleteLibrary
      summary: Adobe Creative Cloud Delete library
      description: Deletes a library and all its elements.
      tags:
        - Libraries
      parameters:
        - $ref: '#/components/parameters/libraryId'
      responses:
        '204':
          description: Library deleted.
  /libraries/{libraryId}/elements:
    get:
      operationId: getElements
      summary: Adobe Creative Cloud List library elements
      description: >-
        Returns all elements in a library. Elements include colors,
        character styles, graphics, patterns, and other asset types.
      tags:
        - Elements
      parameters:
        - $ref: '#/components/parameters/libraryId'
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
        - name: start
          in: query
          schema:
            type: string
        - name: type
          in: query
          description: Filter by element type.
          schema:
            type: string
            enum:
              - application/vnd.adobe.element.color+dcx
              - application/vnd.adobe.element.characterstyle+dcx
              - application/vnd.adobe.element.paragraphstyle+dcx
              - application/vnd.adobe.element.image+dcx
              - application/vnd.adobe.element.pattern+dcx
              - application/vnd.adobe.element.gradient+dcx
              - application/vnd.adobe.element.brush+dcx
      responses:
        '200':
          description: Elements returned.
          content:
            application/json:
              schema:
                type: object
                properties:
                  total_count:
                    type: integer
                  elements:
                    type: array
                    items:
                      $ref: '#/components/schemas/Element'
    post:
      operationId: createElement
      summary: Adobe Creative Cloud Create element
      description: >-
        Creates a new element in the library. The element type determines
        the required representation data.
      tags:
        - Elements
      parameters:
        - $ref: '#/components/parameters/libraryId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ElementCreation'
      responses:
        '201':
          description: Element created.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Element'
  /libraries/{libraryId}/elements/{elementId}:
    get:
      operationId: getElement
      summary: Adobe Creative Cloud Get element
      description: Returns details of a specific library element.
      tags:
        - Elements
      parameters:
        - $ref: '#/components/parameters/libraryId'
        - $ref: '#/components/parameters/elementId'
      responses:
        '200':
          description: Element returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Element'
        '404':
          description: Element not found.
    delete:
      operationId: deleteElement
      summary: Adobe Creative Cloud Delete element
      description: Deletes an element from the library.
      tags:
        - Elements
      parameters:
        - $ref: '#/components/parameters/libraryId'
        - $ref: '#/components/parameters/elementId'
      responses:
        '204':
          description: Element deleted.
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
  parameters:
    libraryId:
      name: libraryId
      in: path
      required: true
      description: Unique identifier of the library.
      schema:
        type: string
    elementId:
      name: elementId
      in: path
      required: true
      description: Unique identifier of the element.
      schema:
        type: string
  schemas:
    Library:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        created_date:
          type: string
          format: date-time
        modified_date:
          type: string
          format: date-time
        owner:
          type: object
          properties:
            user_id:
              type: string
            name:
              type: string
        element_count:
          type: integer
    Element:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        type:
          type: string
          description: >-
            Element MIME type (e.g., application/vnd.adobe.element.color+dcx).
        created_date:
          type: string
          format: date-time
        modified_date:
          type: string
          format: date-time
        thumbnail:
          type: object
          properties:
            url:
              type: string
              format: uri
            width:
              type: integer
            height:
              type: integer
            type:
              type: string
        representations:
          type: array
          description: Available representations of the element.
          items:
            type: object
            properties:
              id:
                type: string
              type:
                type: string
              storage_href:
                type: string
                format: uri
              content_length:
                type: integer
    ElementCreation:
      type: object
      required:
        - name
        - type
      properties:
        name:
          type: string
          description: Display name for the element.
        type:
          type: string
          description: Element MIME type.
        client_data:
          type: object
          description: Application-specific metadata.
          additionalProperties: true
