openapi: 3.2.0
info:
  title: Adobe Creative Cloud Adobe Stock Licensing API
  description: REST API for searching, licensing, and downloading Adobe Stock assets including photos, vectors, illustrations, videos, templates, and 3D content. The Search API enables querying the Stock catalog with filters. The Licensing API handles asset licensing and download. Free for developers with an Adobe ID for search operations.
  version: '1.0'
  contact:
    name: Adobe Developer Support
    url: https://developer.adobe.com/
  license:
    name: Proprietary
    url: https://www.adobe.com/legal/terms.html
servers:
- url: https://stock.adobe.io
  description: Adobe Stock API production server.
security:
- bearerAuth: []
- apiKey: []
tags:
- name: Licensing
  description: Asset licensing and download operations.
paths:
  /Rest/Libraries/1/Content/License:
    get:
      operationId: getContentLicense
      summary: Adobe Creative Cloud Get License Info for Asset
      description: Returns licensing information for a specific asset including available license types and whether the user has already licensed it.
      tags:
      - Licensing
      parameters:
      - name: content_id
        in: query
        required: true
        description: Adobe Stock asset ID.
        schema:
          type: integer
        example: 42
      - name: license
        in: query
        required: true
        description: License type to check.
        schema:
          type: string
          enum:
          - Standard
          - Extended
          - Video_HD
          - Video_4K
        example: Standard
      responses:
        '200':
          description: License information returned.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseInfoResponse'
        '404':
          description: Asset not found.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
    post:
      operationId: licenseContent
      summary: Adobe Creative Cloud License an Asset
      description: Licenses an Adobe Stock asset for download and use. Requires valid Stock entitlements. After licensing, the download URL is returned for retrieving the full-resolution asset.
      tags:
      - Licensing
      parameters:
      - name: content_id
        in: query
        required: true
        schema:
          type: integer
        example: 42
      - name: license
        in: query
        required: true
        schema:
          type: string
          enum:
          - Standard
          - Extended
          - Video_HD
          - Video_4K
        example: Standard
      responses:
        '200':
          description: Asset licensed successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LicenseResponse'
        '400':
          description: Licensing failed.
        '403':
          description: Insufficient entitlements.
      x-microcks-operation:
        delay: 0
        dispatcher: FALLBACK
components:
  schemas:
    LicenseResponse:
      type: object
      properties:
        contents:
          type: object
          additionalProperties:
            type: object
            properties:
              content_id:
                type: integer
              purchase_details:
                type: object
                properties:
                  state:
                    type: string
                  license:
                    type: string
                  date:
                    type: string
                    format: date-time
                  url:
                    type: string
                    format: uri
                    description: Download URL for the licensed asset.
              size:
                type: string
    LicenseInfoResponse:
      type: object
      properties:
        contents:
          type: object
          additionalProperties:
            type: object
            properties:
              content_id:
                type: integer
              purchase_details:
                type: object
                properties:
                  state:
                    type: string
                    enum:
                    - not_purchased
                    - purchased
                    - cancelled
                  license:
                    type: string
                  date:
                    type: string
                    format: date-time
                  url:
                    type: string
                    format: uri
                    description: Download URL if already licensed.
              size:
                type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: OAuth 2.0 access token.
    apiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: Client ID from Adobe Developer Console.
